.button {
  border: none;
  cursor: pointer;
  background-color: var(--color-casablanca);
  color: var(--color-white);
  border-radius: var(--radius-sm);
  padding: 11.5px 44px;
  font-size: var(--size-sx);
  font-weight: var(--weight-semibold);
  line-height: 24px;
  font-family: var(--font-primary);
}
